
.background-img1 {
    display: block;
    height: 600px;
    background-color: #000;
    background-image: url(../image/lake.jpg);
    background-size: cover;
}

.background-img2 {
    display: block;
    height: 600px;
    background-color: #000;
    background-image: url(../image/pexels-photo-133633.jpeg);
    background-size: cover;
}

.background-img3 {
    display: block;
    height: 600px;
    background-color: #000;
    background-image: url(../image/lake.jpg);
    background-size: cover;
}